/* Chat Box */

.chat-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-2);

  form {
    line-height: 1;
    display: flex;
    clear: both;
    font-size: 1em;
    padding: var(--spacing);
    gap: var(--spacing);

    textarea {
      flex: 1;
      max-height: min(500px, 70vh);
    }

    button {
      & span {
        display: inline-block;
        scale: 1.5;
      }
    }

    background-color: var(--bg2);
    padding: 0;
    margin: var(--spacing);
    border: var(--border-width) solid var(--bg3);
    border-radius: var(--radius);

    textarea {
      background-color: transparent;
      border: none;
      outline: none !important;
    }

    button {
      scale: 0.8;
    }

    &:has(textarea:focus) {
      outline: 3px solid var(--accent);
    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;
    padding-top: var(--spacing-2);

    div {
      margin: var(--spacing);
      clear: both;

      &[data-role='user'] {
        min-width: 150px;
        max-width: 90%;
        float: right;
        background-color: var(--bg2);
        color: var(--fg1);
        box-shadow: var(--field-shadow);
        padding: var(--spacing) var(--spacing-2);
        border-radius: var(--radius);
      }

      &[data-role='assistant']+&[data-role='assistant'] {
        border-top: var(--border-width) solid var(--bg3);
        margin-top: var(--spacing-2);
        padding-top: var(--spacing-2);
      }

      pre {
        overflow-x: auto;
      }
    }
  }
}

/* Menu */

[popovertarget='user-menu-dropdown'] {
  anchor-name: --user-menu-dropdown;
}

#user-menu-dropdown {
  --anchor: --user-menu-dropdown;
}

/* Banner */

.banner {
  text-align: center;
  background-color: var(--accent);
  padding: 0.5rem;
  color: var(--on-accent);
  width: calc(100% - 8px * 2);
  margin: 2px 8px;
  border-radius: var(--radius);
  margin-right: var(--spacing);
  position: relative;

  a,
  .link {
    --color: var(--on-accent);
    text-decoration: underline;
  }

  button.close {
    padding: 0 var(--spacing);
    position: absolute;
    right: 1rem;

    &,
    &:active {
      scale: 1.5;
    }
  }
}

.banner:not([data-hide="true"])~.banner-closed-button {
  display: none;
}

/* Button to show banner after its been closed */
.banner-closed-button {
  position: absolute;
  z-index: 100;
  top: 63px;
  right: var(--spacing);
  float: right;
  padding: 0 var(--spacing);
  --color: var(--accent);
  margin-right: var(--spacing);
  margin-top: var(--spacing);
  border-radius: calc(var(--radius) * 4);

  span {
    display: block;
  }
}

/* Pricing Page */

.pricings {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2);
  justify-content: center;
  margin-top: var(--spacing-2);

  .pricing {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: var(--bg2);
    border: var(--border-width) solid var(--bg3);
    border-radius: var(--radius-2);
    padding: var(--spacing-2);

    &.premium {
      border: 2px solid var(--primary);
    }

    p {
      margin: 0;
    }

    h2 {
      margin-top: 0;
      font-size: 2.3rem;
    }

    h2+p {
      color: var(--fg3);
    }

    .cost {
      font-size: 2rem;
    }

    .features {
      margin-bottom: var(--spacing);

      p {
        display: flex;
        align-items: center;
        margin: var(--spacing) 0;

        svg {
          color: var(--primary);
          margin-right: var(--spacing-05);
        }
      }
    }

    .button {
      margin-top: auto;
      width: 100%;
    }
  }
}



/* Answer Box */

.answer-box {
  position: relative;
  padding: var(--spacing) var(--spacing-2);
  background-color: var(--bg2);
  margin-bottom: var(--spacing);
  width: 100%;
  box-shadow: var(--field-shadow);
  border-radius: var(--radius-2);
  flex: 0.3;
  max-height: 200px;
  border: var(--border-width) solid var(--bg3);
  display: flex;
  justify-content: center;

  .scrollable {
    display: block;
    overflow-y: auto;
    width: 100%;
    height: 140px;
    text-align: justify;
    gap: 10px;
  }

  .selection-preview {
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--spacing);
    height: calc(100% - var(--spacing-2));
    overflow: hidden;
    position: absolute;
    text-align: center;
    opacity: 0.5;
    user-select: none;
    -webkit-user-select: none;
  }

  button.back {
    position: absolute;
    top: var(--spacing);
    left: var(--spacing);
    margin: 0;
  }

  button.generate {
    position: relative;
    z-index: 10;
  }

  button.generate-small {
    position: absolute;
    bottom: var(--spacing);
    left: var(--spacing);
    margin: 0;
  }
}